@CHARSET "US-ASCII";

.formtable {
    width: 400px;
    padding: 10px;
    border: 1px solid blue;
}

input[type=text] {
    width: 250px;

}

textarea {
    width: 250px;
    height: 300px;
}

.label {
    text-align: right;
    vertical-align: top;
}

.control {
    margin-left: 10px;
}

.error {
    font-size: small;
    color: red;
    margin-left: 10px;
}

.valid {
    color:green;
}

table.offers {
    padding: 20px;
    border: 1px solid gray;
}

div.footer {
    font-size: small;
    color: grey;
}

div.content {
    position: relative;
    padding: 40px;
}

div.header {
    text-align: center;
    width: 100%;
    background-color: red;
}

a.title {
    color: white;
    font-size: 35px;
}

a.login {
    position: absolute;
    right: 30px;
    top: 20px;
}